# Next.js
/.next/
/out/
/build

# dependencies
/node_modules
/.pnpm-store
!**/glob-import/dir/node_modules

# misc
.DS_Store
.idea
*.cpuprofile
*.log
.eslintcache
/docs/.vitepress/cache
dist
dist-ssr
explorations
playground-temp
temp
TODOs.md
/.vscode/

# local env files
.env*.local
*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# LangGraph API
.langgraph_api
